<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="handleToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Sample List</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" [ngClass]="!isCollapsed ? 'expanded' : ''" [ngStyle]="{ padding: '10px' }">
    <mat-nav-list fxLayout="column" fxLayoutGap="20px">
      <mat-item *ngFor="let item of menus" mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" [routerLink]="item.path">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="!isCollapsed">{{ item.name }}</span>
      </mat-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>