<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="handleToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Responsive Material</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a *ngFor="let item of menus" mat-list-item [routerLink]="item.path">
        <span class="entry">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="!isCollapsed">{{ item.name }}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>