/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-custom-div, .my-custom-table  {
  margin-bottom: 50px;
  padding: 2.5rem;
}

.my-full-width {
  width: 100%;
}

.my-button {
  margin-right: 3px;
  margin-left: 3px;
  width: 180px;
}

.my-flex-end {
  margin-bottom: 6px;
  display: flex;
  justify-content: end;
}